@model FornecedorCadastroModel;
@{int cont = 0; }
<h2>Edição/Exclusão Fornecedor</h2>
@if (!(Model.fornecedorEmp == null))
{
    <form asp-controller="Fornecedor">
        <div class="form-group required">
            <label class="control-label">Empresa</label>
            <select class="form-control single-select" asp-for="fornecedorEmp.Empresa.NomeFantasia">
                <option selected value="">@Model.fornecedorEmp.Empresa.NomeFantasia</option>
                @foreach (EmpresaModel empresa in Model.empresas)
                {
                    <option value="@empresa.NomeFantasia">@empresa.NomeFantasia</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" asp-for="fornecedorEmp.Nome">Nome</label>
            <input type="text" class="form-control" asp-for="fornecedorEmp.Nome" value="@Model.fornecedorEmp.Nome" readonly placeholder="Nome">
        </div>

        <div class="form-group">
            <label class="control-label" asp-for="fornecedorEmp.Documento">Documento</label><br>
            <input id="tipoDocP" type="radio" name="tipoDoc" value="cpf" disabled>CPF<br>
            <input id="tipoDocJ" type="radio" name="tipoDoc" value="cnpj"checked disabled>CNPJ<br>
            <input type="text" class="docs form-control" id="documento" asp-for="fornecedorEmp.Documento" value="@Model.fornecedorEmp.Documento" placeholder="Documento">
        </div>

        <div class="form-group">
            <label class="control-label" asp-for="fornecedorPes.RG">RG</label>
            <input type="text" class="form-control" asp-for="fornecedorPes.RG" id="rg" readonly placeholder="RG">
        </div>

        <div class="form-group">
            <label class="control-label" asp-for="fornecedorPes.DataNascimento">Data de Nascimento</label>
            <input type="date" class="form-control" asp-for="fornecedorPes.DataNascimento" id="datanascimento" placeholder="Data de Nascimento" readonly>
        </div>
        <div class="form-group" id="tels">
            <label class="control-label" asp-for="fornecedor.Telefones">Telefones</label>
            <a id="addTel" class="btn btn-primary">Adicionar Telefone</a>
            @foreach (string telefone in Model.fornecedorEmp.Telefones)
            {
                <input type="text" class="form-control" asp-for="@Model.fornecedorEmp.Telefones[cont]" value="@telefone" id="tel" placeholder="Telefone">
                cont++;
            }

        </div>
        <div class="form-group">
            <button type="submit"
                    class="btn btn-success" asp-action="ED">
                Alterar
            </button>
            <button type="submit"
                    class="btn btn-danger" asp-action="EX">
                Excluir
            </button>
        </div>
    </form>

}
else
{
    <form asp-controller="Fornecedor">
        <div class="form-group required">
            <label class="control-label">Empresa</label>
            <select class="form-control single-select" asp-for="fornecedorPes.Empresa.NomeFantasia">
                <option selected value="">@Model.fornecedorPes.Empresa.NomeFantasia</option>
                @foreach (EmpresaModel empresa in Model.empresas)
                {
                    <option value="@empresa.NomeFantasia">@empresa.NomeFantasia</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" asp-for="fornecedorPes.Nome">Nome</label>
            <input type="text" class="form-control" asp-for="fornecedorPes.Nome" value="@Model.fornecedorPes.Nome" readonly placeholder="Nome">
        </div>

        <div class="form-group">
            <label class="control-label" asp-for="fornecedorPes.Documento">Documento</label><br>
            <input id="tipoDocP" type="radio" name="tipoDoc" value="cpf" disabled checked>CPF<br>
            <input id="tipoDocJ" type="radio" name="tipoDoc" value="cnpj" disabled>CNPJ<br>
            <input type="text" class="docs form-control" id="documento" asp-for="fornecedorPes.Documento" value="@Model.fornecedorPes.Documento" placeholder="Documento">
        </div>

        <div class="form-group">
            <label class="control-label" asp-for="fornecedorPes.RG">RG</label>
            <input type="text" class="form-control" asp-for="fornecedorPes.RG" id="rg" value="@Model.fornecedorPes.RG" placeholder="RG">
        </div>

        <div class="form-group">
            <label class="control-label" asp-for="fornecedorPes.DataNascimento">Data de Nascimento</label>
            <input type="date" class="form-control" asp-for="fornecedorPes.DataNascimento" id="datanascimento" value="@Model.fornecedorPes.DataNascimento" placeholder="Data de Nascimento">
        </div>
        <div class="form-group" id="tels">
            <label class="control-label" asp-for="fornecedor.Telefones">Telefones</label>
            <a id="addTel" class="btn btn-primary">Adicionar Telefone</a>
            @foreach (string telefone in Model.fornecedorPes.Telefones)
            {
                <input type="text" class="form-control" asp-for="@Model.fornecedorPes.Telefones[cont]" value="@telefone" id="tel" placeholder="Telefone">
                cont++;
            }

        </div>
        <div class="form-group">
            <button type="submit"
                    class="btn btn-success" asp-action="ED">
                Alterar
            </button>
            <button type="submit"
                    class="btn btn-danger" asp-action="EX">
                Excluir
            </button>
        </div>
    </form>
}




